<div class="jumbotron">
    <h1>Orbit Web API</h1>
    <p class="lead">Orbit framework for building Web API using OAuth, Cookies and Basic authentication.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Orbit Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. Orbit Web API
            is a platform for building RESTful applications on the .NET Framework.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Libraries</h2>
        <p>There are couple of core libraries added into in this framework.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>
