<div class="row">
    <div class="col-md-12">
        <h2>Hi {{username}}!!!</h2>
        <h4><p class="text-primary">Here is your information.</p></h4>
    </div>
    <div class="col-md-12">
        &nbsp;
    </div>
    <div class="col-md-2">
        <p class="text-primary">Name :</p>
        <p class="text-primary">Username :</p>
        <p class="text-primary">Security Id :</p>
        <p class="text-primary">Roles :</p>
        <p class="text-primary">Auth Token :</p>
        <p class="text-primary">Authentication Type :</p>
        <p class="text-primary">Expires In :</p>
        <p class="text-primary">Client :</p>
    </div>
    <div class="col-md-10">
        <p class="text-primary">{{name}}</p>
        <p class="text-primary">{{username}}</p>
        <p class="text-primary">{{securityId}}</p>
        <p class="text-primary">{{roles}}</p>
        <p class="text-primary">{{userAuthToken}}</p>
        <p class="text-primary">{{authenticationType}}</p>
        <p class="text-primary">{{timeInSeconds}}</p>
        <p class="text-primary">{{userAuthClient}}</p>
    </div>
</div>
